<html>
    <head>
        <title>Drunken Debuggers</title>
    </head>
<body>
<h1>Drunken Debuggers</h1>
<div>
Welcome to Drunken Sailor, the Drunken Debuggers project navigator! Feel free to browse the projects and join the work with others! If you would like to propose a new project, find the guy with the Drunken Debuggers vodka bottle so he can register you to the admin interface.
</div>
<div>
You can read more about Drunken Debuggers <a href="https://github.com/DrunkenDebuggers/DrunkenDebuggers" target="_blank">here</a>. The repository for this very webapp can be found <a href="https://github.com/DrunkenDebuggers/DrunkenSailor" target="_blank">here</a>. Pull requests are welcome everywhere!
</div>
<h2>Current projects</h2>
<table>
{% if projects %}
	{% for p in projects %}
	<tr>
		<td><a href="{% url 'detail' p.id%}">{{ p.title }}</a></td>
		<td style="background-color:#{{ p.label.color }}">{{ p.label.name }}</td>
	</tr>
	{% endfor %}
{% endif %}
</table>
</body>
</html>
